body {
  font-family: "Lato", sans-serif;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: lato;
    /* background: radial-gradient(circle at 10% 20%, rgb(220, 217, 249) 0%, rgb(172, 224, 217) 89.8%); */
    background: aliceblue;
}
.container{
	    color: white;
    text-align: center;
    background: linear-gradient(109.6deg, rgb(102, 203, 149) 11.2%, rgb(39, 210, 175) 98.7%);
    padding: 6vw;
    border-radius: 36px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.login-form{
	    display: flex;
    flex-direction: column;
    gap: 7px;
}

input{
    border-radius: 34px;
    padding: 19px;
    border: none;
}