* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Lato", sans-serif;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: hidden;
}

.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	background-color: #04AA6D;
	color: white;
}

.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

.logout {
	position: absolute;
	bottom: 0;
	width: 100%;
}

div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
	    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #ddd;
}

th, td {
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

.profile {
	width: fit-content;
	padding: 40px;
	background: grey;
	height: fit-content;
	border-radius: 36px;
	text-align: center;
	margin-top: 50px;
	color: white;
}

img {
	width: 50%;
	height: 50%;
	border-radius: 50%;
}
.mycontainer{
    padding: 50px;
}